<main>
  <div class="introduce">
    <h1>Introduce</h1>
    <div class="concept">
      <%= image_tag("concept-top.jpg") %>
      <div class="post-title">
        <h2>Concept</h2>
      </div>
      <p>
        本格的な茶室建築でありながら、アットホームな稽古場。<br>
        今日あった出来事など、会話を楽しみながらの稽古風景。<br>
        急がずに、それぞれのペースでゆっくりと学んでいく。<br>
        気がつけば、会話がメインになっていることも、しばしば。<br>
        「茶道」ってなんでしょう？<br>
        私は「お茶でも飲みながら、みんなでその場を楽しむ作法」と考える。<br>
        なんでもルール（作法）がある。<br>
        そのルールをみんなで学ぶために時間であり、空間。<br>
        ビシッと和服を着て完璧なお点前をする。<br>
        みんながそうである必要はない。<br>
        それぞれが今自分のできることを精一杯やって、その場の雰囲気を楽しくする。<br>
        それが私の考える茶道。<br>
        「伝統」なんて、現代人が作り出した観念にすぎない。
      </p>
    </div>
  </div>
  <div class="self-introduce">
    <div class="post-title">
      <h2>自己紹介</h2>
    </div>
    <%= image_tag("ihaku.jpg") %>
    <table>
      <tr>
        <th>家元名</th>
        <td>川上 渭白（第9代）</td>
      </tr>
      <tr>
        <th>庵号</th>
        <td>竹聲庵</td>
      </tr>
      <tr>
        <th>本名</th>
        <td>岸田 香太郎</td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td>1952/09/25</td>
      </tr>
    </table>
  </div>
  <div>
    <div class="post-title">
      <h2>紹介画像</h2>
    </div>
    <div class="gallery">
      <div>
        <ul class="gallery-thumbnails">
          <li><%= image_tag("concept01.jpg") %></li>
          <li><%= image_tag("concept02.jpg") %></li>
          <li><%= image_tag("concept03.jpg") %></li>
          <li><%= image_tag("concept04.jpg") %></li>
          <li><%= image_tag("concept05.jpg") %></li>
          <li><%= image_tag("concept06.jpg") %></li>
          <li><%= image_tag("concept07.jpg") %></li>
          <li><%= image_tag("concept08.jpg") %></li>
        </ul>
        <ul class="gallery-image">
          <li><%= image_tag("concept01.jpg") %></li>
          <li><%= image_tag("concept02.jpg") %></li>
          <li><%= image_tag("concept03.jpg") %></li>
          <li><%= image_tag("concept04.jpg") %></li>
          <li><%= image_tag("concept05.jpg") %></li>
          <li><%= image_tag("concept06.jpg") %></li>
          <li><%= image_tag("concept07.jpg") %></li>
          <li><%= image_tag("concept08.jpg") %></li>
        </ul>
      </div>
    </div>
  </div>
</main>