<main>
  <article class="home">
    <%= image_tag("concept-top.jpg") %>
    <p class="home-title">
      Enjoy ! Tea Time !!
    </p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '【急募】お稽古に参加してみませんか？', lesson_index_path %></h2>
    </div>
    <div class="post-thumb">
      <%= image_tag("concept06.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      お茶のお稽古をしてみませんか？「カルチャースクール」のような擬似的なものではなく、本格的なお茶室で、本格的なお点前を習ってみませんか？<strong style="color: red;">安心してください！！</strong>基本的にゆる〜い感じでやっていますので！
    </p>
    <p class="btn"><%= link_to '詳細はこちら', lesson_index_path %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '【お知らせ】研究会（秋）の開催', "#" %></h2>
    </div>
    <p class="post-desc">
      2023/09/17（日）研究会（秋）を開催します。<br>
      奥伝取得者以上のベテランによる研究会となります。<br>
      今回も「且座」です。前回が炉だったので、今回は風炉でやってみましょう！
    </p>
    <p class="btn"><%= link_to '詳細はこちら', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '【お知らせ】教授勉強会（秋）の開催', "#" %></h2>
    </div>
    <p class="post-desc">
      2023/09/18（月）教授勉強会（秋）を開催します。<br>
      10月の渭白会のお点前の練習をします！
    </p>
    <p class="btn"><%= link_to '詳細はこちら', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '【ブログ】総会を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>7/9</p>
      <%= image_tag("20230709-02.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      総会を執り行いました。今回は「貴人清次」をとりあげました。貴人=偉い人（織田信長とか）、お供（家臣とか）が同じ茶室でお茶を飲みます。点前が特殊とかではないのですが、全体的に特殊です。矛盾してますかね？
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>
</main>