<main>
  <div class="lesson">
    <h1>お稽古のご案内</h1>
    <ul class="lesson-nav">
      <li><%= link_to '料金', lesson_price_index_path %></li>
      <li><%= link_to '稽古日', lesson_days_path %></li>
      <li><%= link_to '持参物', lesson_bring_index_path, data: { turbo: false } %></li>
      <li><%= link_to '各種行事', lesson_events_path %></li>
      <li><%= link_to '休会', lesson_rest_index_path %></li>
    </ul>
  </div>
</main>