<main>
  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '総会を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>7/9</p>
      <%= image_tag("20230709-02.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      総会を執り行いました。今回は「貴人清次」をとりあげました。貴人=偉い人（織田信長とか）、お供（家臣とか）が同じ茶室でお茶を飲みます。点前が特殊とかではないのですが、全体的に特殊です。矛盾してますかね？
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '勉強会（夏）を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>7/2</p>
      <%= image_tag("20230702-01.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      勉強会（夏）を執り行いました。今回は七事式のひとつの「廻り花・花寄せ」をとりあげました。お茶の点前はなく、茶花を生ける式法。滅多に行わない式法のため、みなさん楽しそうでした！
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '伝授式（師範令）を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>6/11</p>
      <%= image_tag("20230611-05.JPG", class: "post-img") %>
    </div>
    <p class="post-desc">
      師範令の伝授式を執り行いました。真台子、乱飾り、ともに素晴らしいお点前でした！さすがの貫禄のお点前に、お家元も後見の方も脱帽！？
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '伝授式（初伝・中伝）を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>5/14</p>
      <%= image_tag("20230514-01.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      初伝と中伝の伝授式を執り行いました。
      初伝の伝授式は初々しさ満点！！中伝は少し慣れた落ち着きのある式となりました！良かったですよ〜
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '研究会（春）を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>3/5</p>
      <%= image_tag("20230305-06.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      奥伝取得者以上のベテラン勢での研究会。
      今回は七事式のひとつの「且座（さざ）」をとりあげました。
      いろいろな変更点や新しい研究課題がつぎつぎと出てきました。
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '勉強会（春）を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>2/19</p>
      <%= image_tag("20230219-01.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      師範令取得者以上のベテラン勢での勉強会。
      今回は七事式のひとつの「且座（さざ）」をとりあげました。
      参加者はあまり経験のない式法に新鮮さを感じていたよう。
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <article class="post-home">
    <div class="post-title">
      <h2><%= link_to '2023 初釜を開催しました', "#" %></h2>
    </div>
    <div class="post-thumb">
      <p class="post-date"><span>2023</span>1/8</p>
      <%= image_tag("20230108-07.jpg", class: "post-img") %>
    </div>
    <p class="post-desc">
      あけましておめでとうございます！今年もよろしくお願いいたします。今年も無事に初釜開催です。
    </p>
    <p class="btn"><%= link_to '続きを読む', "#" %></p>
  </article>

  <ul class="pagination">
    <li><span class="current">1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&gt;</a></li>
  </ul>
</main>