<!DOCTYPE html>
<html>
  <head>
    <title>茶道教室のご案内 | 江戸千家渭白流のホームページ</title>
    <meta name="description" content="江戸千家渭白流の公式Webサイト。茶道教室のご案内やお稽古の風景のご紹介しております。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|M+PLUS+Rounded+1c:400,500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b8a7fea4d4.js"></script>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <p class="page-desc">東京都新宿区南榎町7　<span class="tel">Tel：03-3269-3835</span></p>
      <h1 class="page-title"><a>江戸千家</a>渭白流</h1>
      <p class="page-desc">〜 茶道教室のご案内やお稽古の風景のご紹介 〜</p>
    </header>

    <div class="user">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name + " さま", edit_user_path(current_user) %></li>
        <li><%= link_to '掲示板', tweets_path %></li>
      <% else %>
        <li><%= link_to '会員ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '管理者用', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>

    <section>
      <div class="top-box">
        <ul>
          <li class="top-btn"><%= link_to 'ホーム', home_index_path %></li>
          <li class="top-btn"><%= link_to 'ごあいさつ', intro_index_path, data: { turbo: false } %></li>
          <li class="top-btn"><%= link_to 'スケジュール', schedule_index_path %></li>
        </ul>
        <ul>
          <li class="top-btn"><%= link_to 'お稽古のご案内', lesson_index_path %></li>
          <li class="top-btn"><%= link_to 'アクセス', access_index_path %></li>
          <li class="top-btn"><%= link_to 'ブログ', blogs_path %></li>
        </ul>
      </div>
    </section>

    <div class="containar">
      <aside>
        <div class="side-area">
          <div class="side-box">
            <h3>Menu</h3>
            <ul>
              <li><%= link_to 'ホーム', home_index_path %></li>
              <li><%= link_to 'ごあいさつ', intro_index_path, data: { turbo: false } %></li>
              <li><%= link_to 'スケジュール', schedule_index_path %></li>
              <li><%= link_to 'お稽古のご案内', lesson_index_path %></li>
              <li><%= link_to 'アクセス', access_index_path %></li>
              <li><%= link_to 'ブログ', blogs_path %></li>
            </ul>
          </div>
          <div class="side-box">
            <h3>Popular Posts</h3>
            <ul>
              <li><%= link_to '総会', "#" %></li>
              <li><%= link_to '勉強会（夏）', "#" %></li>
              <li><%= link_to '伝授式（師範令）', "#" %></li>
              <li><%= link_to '伝授式（初・中）', "#" %></li>
              <li><%= link_to '研究会（春）', "#" %></li>
              <li><%= link_to '勉強会（春）', "#" %></li>
              <li><%= link_to '2023 初釜', "#" %></li>
            </ul>
          </div>
        </div>
      </aside>

      <%= yield %>

    </div>

    <footer>
      <p>東京都新宿区南榎町7　Tel：03-3269-3835</p>
      <div class="footer-nav">
        <ul>
          <li><%= link_to 'ホーム', home_index_path %></li>
          <li><%= link_to 'ごあいさつ', intro_index_path, data: { turbo: false } %></li>
          <li><%= link_to 'スケジュール', schedule_index_path %></li>
        </ul>
        <ul>
          <li><%= link_to 'お稽古のご案内', lesson_index_path %></li>
          <li><%= link_to 'アクセス', access_index_path %></li>
          <li><%= link_to 'ブログ', blogs_path %></li>
        </ul>
      </div>
      <p><small>&copy; 2023 江戸千家 渭白会</small></p>
    </footer>
  </body>
</html>